<div class="container mx-auto my-4 px-2">
    <form class="flex flex-col"  autocomplete="disabled">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" name="firstName" placeholder="Enter First Name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" name="lastName" placeholder="Enter Last Name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" placeholder="example@gmail.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Birth Date</mat-label>
            <input matInput type="date" name="birthDate" placeholder="Birth Date" value="2000-01-01">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Role</mat-label>
            <mat-select>
              <mat-option value="Admin">
                Admin
              </mat-option>
              <mat-option value="Manager">
                Manager
              </mat-option>
              <mat-option value="User">
                User
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary">Submit</button>
    </form>
</div>