<app-modal modalID="add-user">
    <div class="absolute z-100 top-1/2 left-1/2 
                -translate-x-1/2 -translate-y-1/2 bg-white px-4 py-6 w-80 sm:x-96 rounded">
        <div class="flex justify-between px-2">
            <h2>Add a new user</h2>
            <mat-icon class="mt-1 mr-1 cursor-pointer" (click)="modal.toggleModal('add-user')">close</mat-icon>
        </div>
        <app-alert *ngIf="showAlert" [color]="alertColor">{{ alertMsg }}</app-alert>

        <div class="container mx-auto mt-2 mb-3 px-2 max-w-xs">

            <form [formGroup]="addUserForm" (ngSubmit)="addNewUser()"
                 class="flex flex-col">
                <app-input [control]="firstName" placeholder="Enter Name"
                            label="First Name" name="firstName">
                </app-input>
                <app-input [control]="lastName" placeholder="Enter Last Name"
                            label="Last Name" name="lastName">
                </app-input>
                <app-input [control]="email" placeholder="example@gmail.com"
                            label="Email" name="email" type="email">
                </app-input>
                <app-input-date [control]="birthDate" label="Birth Date"
                                name="birthDate" value="2000-01-01">
                </app-input-date>
                <app-input-select [control]="role"
                                    [options]="['Admin','Manager','User']">
                </app-input-select>
                <button type="submit" mat-raised-button color="primary"
                        [disabled]="addUserForm.invalid">Submit</button>

                <!--<button mat-raised-button color="primary" (click)="pushUsers()">Submit</button>-->
            </form>

        </div>
    </div>
</app-modal>