<!-- Users Lists -->
<section class="container p-4 mx-auto my-4 relative">
  <div class="flex flex-row justify-between px-1 mb-2">
    <h1 class="text-4xl">Users</h1>
    <div class="flex items-center text-gray-600 mb-4">
      <select
        (change)="sort($event)"
        class="text-gray-800 px-1 text-xl cursor-pointer outline-none appearance-none"
      >
        <option value="1" [selected]="usersOrder === '1'">Recent Users</option>
        <option value="2" [selected]="usersOrder === '2'">Oldest Users</option>
      </select>
      <mat-icon *ngIf="usersOrder === '1'">arrow_upward</mat-icon>
      <mat-icon *ngIf="usersOrder === '2'">arrow_downward</mat-icon>
    </div>
  </div>

  <!-- <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    class="grid grid-flow-row-dense grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  >-->
  <div
    class="grid grid-flow-row-dense grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  >
    <app-user-card
      *ngFor="let user of users$ | async; trackBy: trackByFn"
      [user]="user"
      (editUser)="openDialogEdit(user)"
      (deleteUser)="openDialogDelete(user)"
    >
    </app-user-card>
  </div>

  <hr>

  <h2>State</h2>
  <div
    class="grid grid-flow-row-dense grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  >
    <app-user-card
      *ngFor="let user of users_new$ | async; trackBy: trackByFn"
      [user]="user"
      (editUser)="openDialogEdit(user)"
      (deleteUser)="openDialogDelete(user)"
    >
    </app-user-card>
  </div>


  <h2>State</h2>
  <div
    class="grid grid-flow-row-dense grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
  >
    <app-user-card
      *ngFor="let user of users_new2$ | async; trackBy: trackByFn"
      [user]="user"
      (editUser)="openDialogEdit(user)"
      (deleteUser)="openDialogDelete(user)"
    >
    </app-user-card>
  </div>


  <div class="flex justify-center space-x-4">
    <div class="text-center my-4">
      <button
        *ngIf="pageCounter !== 1"
        mat-raised-button
        color="primary"
        (click)="prevPage()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="text-center my-4">
      <button mat-raised-button color="primary" (click)="nextPage()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <div class="sticky bottom-10 float-right mr-4 z-100">
    <button
      (click)="openDialogAdd()"
      mat-fab
      color="accent"
      aria-label="Add new user"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
