<mat-form-field class="w-full">
    <mat-label>{{ label }}</mat-label>
    <input [formControl]="control"
        matInput [type]="type" [name]="name" [placeholder]="placeholder" >
</mat-form-field>

<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.required" class="text-red-400">
        Field is required
    </p>
    <p *ngIf="control.errors?.minlength" class="text-red-400">
        The value you inputted is
        {{ control.errors?.minlength.actualLength }}
        characters long.
        It must be at least
        {{ control.errors?.minlength.requiredLength }}
        characters long.
    </p>
    <p *ngIf="control.errors?.email" class="text-red-400">
        You must enter a valid email
    </p>
</ng-container>